* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  form {
    .form-group {
      margin: 10px auto;
    }
    .hidden-inputs-group {
      display: none;

      &_show {
        display: block;
      }
    }
  }
}
@import "../../node_modules/bootstrap/scss/bootstrap";