{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h1>Pomyślnie dodano konto.</h1>
        <p>Przejdź do listy <a href="{{ path("app_admin_page") }}">kont</a></p>
    </div>
{% endblock %}
