{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    <h2>Edycja</h2>
    {{ form_start(form, {'action': path("app_record_edit", {id: record.id}), 'method': 'POST', 'attr': {'class': 'bg-light border border-2'}}) }}
        <div class="form-group row">
            {{ form_label(form.first_name, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
            <div class="col-8">
                {{ form_widget(form.first_name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.surname, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
            <div class="col-8">
                {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.email, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
            <div class="col-8">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.desc, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
            <div class="col-8">
                {{ form_widget(form.desc, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.workplace, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
            <div class="col-8">
                {{ form_widget(form.workplace, {'attr': {'class': 'form-select'}}) }}
            </div>
        </div>
        <div class="hidden-inputs-group" id="tester_group">
            <div class="form-group row">
                {{ form_label(form.tester_skill1, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
                <div class="col-8">
                    {{ form_widget(form.tester_skill1, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.tester_skill2, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
                <div class="col-8">
                    {{ form_widget(form.tester_skill2, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4">Zna Selenium</label>
                <div class="col-8">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        {{ form_widget(form.tester_skill3, {'attr': {'class': 'custom-control-input'}}) }}
                        {{ form_label(form.tester_skill3, null, {'label_attr': {'class': 'custom-control-label'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-inputs-group" id="developer_group">
            <div class="form-group row">
                {{ form_label(form.developer_skill1, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
                <div class="col-8">
                    {{ form_widget(form.developer_skill1, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.developer_skill2, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
                <div class="col-8">
                    {{ form_widget(form.developer_skill2, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4">Zna MySQL</label>
                <div class="col-8">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        {{ form_widget(form.developer_skill3, {'attr': {'class': 'custom-control-input'}}) }}
                        {{ form_label(form.developer_skill3, null, {'label_attr': {'class': 'custom-control-label'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-inputs-group" id="pm_group">
            <div class="form-group row">
                {{ form_label(form.pm_skill1, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
                <div class="col-8">
                    {{ form_widget(form.pm_skill1, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.pm_skill2, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
                <div class="col-8">
                    {{ form_widget(form.pm_skill2, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4">Zna SCRUM</label>
                <div class="col-8">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        {{ form_widget(form.pm_skill3, {'attr': {'class': 'custom-control-input'}}) }}
                        {{ form_label(form.pm_skill3, null, {'label_attr': {'class': 'custom-control-label'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>

        {{ form_end(form) }}

</div>
{% endblock %}
