{% extends 'base.html.twig' %}

{% block body %}

    <div class="container d-grid gap-3">

        <h2>Podgląd</h2>
        <div class="row">
            <div class="col border border-secondary d-grid gap-3">
                <div class="row p-2 bg-light border">
                    <div class="col">
                        Imię
                    </div>
                    <div class="col">
                        {{ record.firstName }}
                    </div>
                </div>
                <div class="row p-2 bg-light border">
                    <div class="col">
                        Nazwisko
                    </div>
                    <div class="col">
                        {{ record.surname }}
                    </div>
                </div>
                <div class="row p-2 bg-light border">
                    <div class="col">
                        E-mail
                    </div>
                    <div class="col">
                        {{ record.email }}
                    </div>
                </div>
                <div class="row p-2 bg-light border">
                    <div class="col">
                        Opis
                    </div>
                    <div class="col">
                        {{ record.description }}
                    </div>
                </div>
                <div class="row p-2 bg-light border">
                    <div class="col">
                        Stanowisko
                    </div>
                    <div class="col">
                        {{ workplaces[record.workplace] }}
                    </div>
                </div>
                <div class="row p-2 bg-light border">
                    <div class="col">
                        {{ skills[record.workplace][1] }}
                    </div>
                    <div class="col">
                        {{ record.skill1 }}
                    </div>
                </div>
                <div class="row p-2 bg-light border">
                    <div class="col">
                        {{ skills[record.workplace][2] }}
                    </div>
                    <div class="col">
                        {{ record.skill2 }}
                    </div>
                </div>
                <div class="row p-2 bg-light border">
                    <div class="col">
                        {{ skills[record.workplace][3] }}
                    </div>
                    <div class="col">
                        {{ record.skill3 ? "Tak" : "Nie" }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
